/* Banner background images  */
.banner-img{
    background-image: url('../images/banner.png'),linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, .6) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.head-hight{
    height: 100vh;
}
